body {
    margin: 0;
    font-family: Arial, sans-serif; /* Fonte padrão para o restante da página */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-family: 'Rock Salt', cursive; /* Fonte apenas para o header */
}

header .logo {
    font-size: 24px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

#sobre {
    background-color: #eee; /* Fundo claro para contraste com o header */
    color: #333; /* Texto escuro para melhor leitura */
    text-align: center;
    position: relative; /* Para posicionar o ícone do WhatsApp */
}

.sobre-content {
    max-width: 800px;
    margin: 0 auto;
}

.sobre-content h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 28px;
    margin-bottom: 10px;
}

.sobre-content p {
    font-size: 16px; /* Reduzido o tamanho da fonte */
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
    margin-bottom: 20px;
}

.whatsapp-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.whatsapp-icon img {
    width: 30px; /* Aumentado o tamanho do ícone do WhatsApp */
    height: 30px;
    border-radius: 50%;
    padding: 5px; /* Padding adicionado para combinar com o estilo do botão fixo */
    background-color: #25D366; /* Cor de fundo do botão */
    border: 5px solid #25D366; /* Borda com a mesma cor verde */
}

#produtos, #promocoes {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza a seção */
    align-items: center;
}

#produtos h2, #promocoes h2 {
    font-family: 'Rock Salt', cursive;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cards */
    max-width: 1200px; /* Limita a largura total para responsividade */
}

.product {
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 30%; /* Ajustado para um tamanho menor */
    box-sizing: border-box;
}

.product-promo {
    margin-top: 1%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 30%; /* Ajustado para um tamanho menor */
    box-sizing: border-box;
}

.product img {
    max-width: 50%; /* Reduzido ainda mais o tamanho das imagens */
    border-radius: 8px;
}

.product-promo img {
    max-width: 50%; /* Reduzido ainda mais o tamanho das imagens */
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366; /* Cor de fundo do botão */
    border-radius: 50%; /* Mantém a borda arredondada */
    padding: 10px; /* Padding ajustado para 10px para aumentar o espaço ao redor */
    border: 5px solid #25D366; /* Borda com a mesma cor verde */
}

.whatsapp-button img {
    width: 50px; /* Tamanho do ícone */
    height: 50px;
    border-radius: 50%;
}
